<mat-card
  class="hero-card"
  [ngClass]="{ mat__card__chosen: isChosen }"
  [ngStyle]="isChosen && { 'background-color': '#72b42499' }"
>
  <mat-card-header>
    <div
      mat-card-avatar
      class="hero-header__image"
      [ngStyle]="{
        'background-image': 'url(assets/images/users/default.png)'
      }"
    ></div>

    <mat-card-title *ngIf="user.name">{{ user.name }}</mat-card-title>

    <mat-card-actions>
      <mat-icon
        class="icon__like--green"
        matTooltip="{{ 'chooseUser' | translate }}"
        (click)="chooseUser()"
      >
        {{ isChosen ? "radio_button_checked" : "radio_button_unchecked" }}
      </mat-icon>
    </mat-card-actions>
  </mat-card-header>
  <div>
    <form
      [formGroup]="newUserForm"
      #userForm="ngForm"
      ngxScrollToFirstInvalid
      (ngSubmit)="createNewUser(newUserForm.value)"
      autocomplete="on"
    >
      <mat-form-field class="input-container">
        <input
          matInput
          name="hname"
          type="text"
          placeholder="{{ 'UsersName' | translate }}"
          formControlName="name"
        />
        <mat-error
          *ngIf="!newUserForm.controls.name.valid && userForm.submitted"
        >
          {{ "fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        [disabled]="userForm.submitted && !newUserForm.valid"
      >
        {{ "create" | translate }}
      </button>
      <div *ngIf="error">{{ error | translate }}</div>
    </form>
  </div>
  {{ addItemToCreateNewUserForm | json }}
  <div>
    <div id="left">
      <div *ngIf="user.roles.length !== 0">
        <mat-card-subtitle>{{ "Roles" | translate }}:</mat-card-subtitle>

        <div class="roles__list" *ngFor="let role of user.roles">
          <div class="roles__box">
            <mat-card-title>{{ role.name }}</mat-card-title>
            <mat-card-content> ID: {{ role.id }}</mat-card-content>

            <mat-icon
              class="icon__like--green"
              (click)="RemoveFromUser(role, user, 'role')"
              >clear</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
    <div id="right">
      <div *ngIf="user.permissions.length !== 0">
        <mat-card-subtitle> {{ "Permissions" | translate }}:</mat-card-subtitle>
        <div class="roles__list" *ngFor="let permission of user.permissions">
          <div class="roles__box">
            <mat-card-title>{{ permission.name }}</mat-card-title>
            <mat-card-content> ID: {{ permission.id }}</mat-card-content>
            <mat-icon
              class="icon__like--green"
              (click)="RemoveFromUser(permission, user, 'permission')"
              >clear</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</mat-card>
