<mat-card
  class="hero-card"
  *ngIf="user"
  [ngClass]="{ mat__card__chosen: isChosen }"
>
  <mat-card-header>
    <div
      mat-card-avatar
      class="hero-header__image"
      [ngStyle]="{
        'background-image': 'url(assets/images/users/default.png)'
      }"
    ></div>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>ID: {{ user.id }}</mat-card-subtitle>
    <div class="hero-actions">
      <mat-icon class="icon__like--green" (click)="switchEditMode()"
        >edit
      </mat-icon>
      <mat-icon class="icon__like--green" (click)="deleteItem()"
        >delete
      </mat-icon>
    </div>
  </mat-card-header>
  <div *ngIf="isEditMode" class="roles__list">
    <div class="roles__box">
      <form
        [formGroup]="editItemForm"
        #editForm="ngForm"
        ngxScrollToFirstInvalid
        (ngSubmit)="changeItemName(editItemForm.value)"
        autocomplete="on"
      >
        <mat-form-field class="input-container">
          <input
            matInput
            name="hname"
            type="text"
            placeholder="{{ 'newItemName' | translate }}"
            formControlName="name"
          />
          <mat-error
            *ngIf="!editItemForm.controls.name.valid && editForm.submitted"
          >
            {{ "fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          [disabled]="editForm.submitted && !editItemForm.valid"
        >
          {{ "renameItem" | translate }}
        </button>
        <div *ngIf="error">{{ error | translate }}</div>
      </form>
    </div>
  </div>
  <div>
    <div id="left">
      <!-- -----------------------   list of user roles   ----------------------- -->
      <div *ngIf="user.roles.length !== 0">
        <mat-card-subtitle>{{ "Roles" | translate }}:</mat-card-subtitle>
        <div
          class="roles__list"
          *ngFor="let role of (user.roles | mergeById: changedUser.roles)"
        >
          <div
            class="roles__box"
            [ngClass]="isDeletedInChangedUser(role, 'role')"
          >
            <mat-card-title>{{ role.name }}</mat-card-title>
            <mat-card-content> ID: {{ role.id }}</mat-card-content>

            <mat-icon
              class="icon__like--green"
              (click)="RemoveFromUser(role, user, 'role')"
              *ngIf="isEditMode"
              >clear</mat-icon
            >
          </div>
        </div>
      </div>
      <!-- -----------------------   add role to user form   ----------------------- -->
      <div class="roles__list" *ngIf="isEditMode">
        <mat-error *ngIf="addRoleError">
          {{ addRoleError | translate }}
        </mat-error>
        <div class="roles__box">
          <input
            type="text"
            placeholder="Add role"
            aria-label="Role choose"
            matInput
            [formControl]="rolesControl"
            [matAutocomplete]="auto"
          />
          <mat-icon class="icon__like--green" (click)="addRole()">add</mat-icon>

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of (filteredRoles | async)"
              [value]="option.name"
            >
              <span>{{ option.name }}</span> |
              <small>ID: {{ option.id }}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <div id="right">
      <!-- -----------------------   list of user permissions   ----------------------- -->
      <div *ngIf="user.permissions.length !== 0">
        <mat-card-subtitle> {{ "Permissions" | translate }}:</mat-card-subtitle>
        <div
          class="roles__list"
          *ngFor="
            let permission of (user.permissions
              | mergeById: changedUser.permissions)
          "
        >
          <div
            class="roles__box"
            [ngClass]="isDeletedInChangedUser(permission, 'permission')"
          >
            <mat-card-title>{{ permission.name }}</mat-card-title>
            <mat-card-content> ID: {{ permission.id }}</mat-card-content>
            <mat-icon
              class="icon__like--green"
              (click)="RemoveFromUser(permission, user, 'permission')"
              >clear</mat-icon
            >
          </div>
        </div>
      </div>
      <!-- -----------------------   add permission to user form   ----------------------- -->
      <div class="roles__list" *ngIf="isEditMode">
        <mat-error *ngIf="addRoleError">
          {{ addRoleError | translate }}
        </mat-error>
        <div class="roles__box">
          <input
            type="text"
            placeholder="Add role"
            aria-label="Role choose"
            matInput
            [formControl]="rolesControl"
            [matAutocomplete]="auto"
          />
          <mat-icon class="icon__like--green" (click)="addPermission()">add</mat-icon>

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of (filteredPermissions | async)"
              [value]="option.name"
            >
              <span>{{ option.name }}</span> |
              <small>ID: {{ option.id }}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

      <!-- -----------------------   save changes button   ----------------------- -->
  
  <button mat-raised-button [disabled]="isNeedSave"  *ngIf="isEditMode">
    {{ "renameItem" | translate }}
  </button>
  <!-- {{ isNeedSave | json }} -->
  <!-- <pre>
      {{ user.roles | mergeById: changedUser.roles | json }}
    </pre
  > -->
  <!-- {{ user | json }} -->
  <!-- <pre> -->
  <!-- {{ changedUser | json }}
  </pre> -->
</mat-card>
