<mat-card
  class="hero-card"
  *ngIf="user"
  [ngClass]="{ mat__card__chosen: isChosen }"
>
  <mat-card-header>
    <div
      mat-card-avatar
      class="hero-header__image"
      [ngStyle]="{
        'background-image': 'url(assets/images/users/default.png)'
      }"
    ></div>
    <mat-card-title>{{ changedUser.name }}</mat-card-title>
    <mat-card-subtitle>ID: {{ user.id }}</mat-card-subtitle>
    <div class="hero-actions">
      <mat-icon class="icon__like--green" (click)="switchEditMode()"
        >edit
      </mat-icon>
      <mat-icon class="icon__like--green" (click)="deleteItem()"
        >delete
      </mat-icon>
    </div>
  </mat-card-header>
  <!-- -----------------------   input username   ----------------------- -->
  <div class="roles__list" *ngIf="isEditMode">
    <mat-error *ngIf="changeNameError">
      {{ "changeNameError" | translate }}
    </mat-error>
    <div class="roles__box">
      <input
        type="text"
        placeholder="{{ 'changeNickname' | translate }}"
        aria-label="New nickname input"
        matInput
        [(ngModel)]="changedUser.name"
        [formControl]="nameControl"
      />
    </div>
  </div>
  <!-- -----------------------   user roles and permissions block   ----------------------- -->
  <div>
    <div id="left">
      <!-- -----------------------   list of user roles   ----------------------- -->
      <div *ngIf="changedUser.roles.length !== 0 || user.roles.length !== 0">
        <mat-card-subtitle class="items__group__header"
          >{{ "Roles" | translate }}:</mat-card-subtitle
        >
        <div
          class="roles__list"
          *ngFor="let role of (user.roles | mergeById: changedUser.roles)"
        >
          <div
            class="roles__box"
            [ngClass]="isDeletedInChangedUser(role, 'role')"
          >
            <mat-card-title>{{ role.name }}</mat-card-title>
            <mat-card-content> ID: {{ role.id }}</mat-card-content>

            <mat-icon
              class="icon__like--green"
              (click)="RemoveFromUser(role, user, 'role')"
              *ngIf="isEditMode"
              >clear</mat-icon
            >
          </div>
        </div>
      </div>
      <!-- -----------------------   add role to user form   ----------------------- -->
      <div class="roles__list" *ngIf="isEditMode">
        <mat-error *ngIf="addRoleError">
          {{ addRoleError | translate }}
        </mat-error>
        <div class="roles__box">
          <input
            type="text"
            placeholder="{{ 'addRoleToUser' | translate }}"
            aria-label="Role choose"
            matInput
            [formControl]="rolesControl"
            [matAutocomplete]="auto"
          />
          <mat-icon class="icon__like--green" (click)="addRole()">add</mat-icon>

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of (filteredRoles | async)"
              [value]="option.name"
            >
              <span>{{ option.name }}</span> |
              <small>ID: {{ option.id }}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <div id="right">
      <!-- -----------------------   list of user permissions   ----------------------- -->
      <div
        *ngIf="
          changedUser.permissions.length !== 0 || user.permissions.length !== 0
        "
      >
        <mat-card-subtitle class="items__group__header">
          {{ "Permissions" | translate }}:</mat-card-subtitle
        >

        <div
          class="roles__list"
          *ngFor="
            let permission of (user.permissions
              | mergeById: changedUser.permissions)
          "
        >
          <div
            class="roles__box"
            [ngClass]="isDeletedInChangedUser(permission, 'permission')"
          >
            <mat-card-title>{{ permission.name }}</mat-card-title>
            <mat-card-content> ID: {{ permission.id }}</mat-card-content>
            <mat-icon
              class="icon__like--green"
              (click)="RemoveFromUser(permission, user, 'permission')"
              *ngIf="isEditMode"
              >clear</mat-icon
            >
          </div>
        </div>
      </div>
      <!-- -----------------------   add permission to user form   ----------------------- -->
      <div class="roles__list" *ngIf="isEditMode">
        <mat-error *ngIf="addPermissionsError">
          {{ addPermissionsError | translate }}
        </mat-error>
        <div class="roles__box">
          <input
            type="text"
            placeholder="{{ 'addPermissionToUser' | translate }}"
            aria-label="Permission choose"
            matInput
            [formControl]="permissionsControl"
            [matAutocomplete]="auto"
          />
          <mat-icon class="icon__like--green" (click)="addPermission()"
            >add</mat-icon
          >

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of (filteredPermissions | async)"
              [value]="option.name"
            >
              <span>{{ option.name }}</span> |
              <small>ID: {{ option.id }}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <button
    mat-raised-button
    class="save__user__button"
    *ngIf="isEditMode"
    (click)="changeItem()"
  >
    {{ "saveChanges" | translate }}
  </button>
</mat-card>
