<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80">
    <!-- <app-hero-loading *ngIf="usersLoading"></app-hero-loading> -->
    <!-- <div id="heroes-list" *ngIf="heroes" [@fadeInOut]>
      <ng-container *ngFor="let hero of heroes">
        <app-hero-card [hero]="hero"></app-hero-card>
      </ng-container>
    </div> -->

    <!-- <div *ngIf="users" [@fadeInOut]>{{ users | json }}</div> -->

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="30">
        <h1 class="header__title">{{ "UsersList" | translate }}</h1>
        <mat-card class="hero-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="hero-header__image"
              [ngStyle]="{
                'background-image': 'url(assets/images/heroes/default.png)'
              }"
            ></div>

            <div>
              <form
                [formGroup]="newUserForm"
                #form="ngForm"
                ngxScrollToFirstInvalid
                (ngSubmit)="createNewUser(newUserForm.value)"
                autocomplete="on"
              >
                <mat-form-field class="input-container">
                  <input
                    matInput
                    name="hname"
                    type="text"
                    placeholder="{{ 'nameWithPalindrome' | translate }}"
                    formControlName="name"
                  />
                  <mat-error
                    *ngIf="!newUserForm.controls.name.valid && form.submitted"
                  >
                    {{ "nameRequired" | translate }}
                  </mat-error>
                </mat-form-field>
                <button
                  mat-raised-button
                  type="submit"
                  [disabled]="form.submitted && !newUserForm.valid"
                >
                  {{ "create" | translate }}
                </button>
                <div *ngIf="error">{{ error | translate }}</div>
              </form>
            </div>
          </mat-card-header>
        </mat-card>

        <!-- 
        {{ all | json }}
        <div CdkDropList>
          <div class="example-box" cdkDrag>I'm Draggable</div>
          <div class="example-box" cdkDrag>I'm Draggable</div>

        </div>
        {{ all | json }}
        <div
          id="all"
          cdkDropList
          cdkDropListConnectedTo="even"
          class="example-list"
        >
          <div class="example-box" *ngFor="let number of all" cdkDrag>
            {{ number }}
          </div>
        </div>
        {{ all | json }}
        <div id="usersDroplist" cdkDropList *ngIf="users">
          <ng-container *ngFor="let user of users" cdkDrag>
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div> -->

        <div *ngIf="users">
          <ng-container *ngFor="let user of users">
            <app-user-card
              [user]="user"
              [isChosen]="chosenUser == user ? true : false"
              (chooseFunction)="ChooseUser(user)"
              (removeFunction)="RemoveRoleFromUser($event)"
            ></app-user-card>
          </ng-container>
        </div>
      </div>
      <div fxFlex="30">
        <h1 class="header__title">{{ "RolesList" | translate }}</h1>
        <mat-card class="hero-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="hero-header__image"
              [ngStyle]="{
                'background-image': 'url(assets/images/letters/letter-r.png)'
              }"
            ></div>

            <div>
              <form
                [formGroup]="newRoleForm"
                #form="ngForm"
                ngxScrollToFirstInvalid
                (ngSubmit)="createNewRole(newRoleForm.value)"
                autocomplete="on"
              >
                <mat-form-field class="input-container">
                  <input
                    matInput
                    name="hname"
                    type="text"
                    placeholder="{{ 'nameWithPalindrome' | translate }}"
                    formControlName="name"
                  />
                  <mat-error
                    *ngIf="!newRoleForm.controls.name.valid && form.submitted"
                  >
                    {{ "nameRequired" | translate }}
                  </mat-error>
                </mat-form-field>
                <button
                  mat-raised-button
                  type="submit"
                  [disabled]="form.submitted && !newRoleForm.valid"
                >
                  {{ "create" | translate }}
                </button>
                <div *ngIf="error">{{ error | translate }}</div>
              </form>
            </div>
          </mat-card-header>
        </mat-card>

        <div *ngIf="users">
          <ng-container *ngFor="let role of roles">
            <!-- (click)="seeHeroDetails(hero)" -->

            <app-role-permission-card
              [item]="role"
              [typeOfItem]="'role'"
              (addFunction)="AddToUser(role)"
            ></app-role-permission-card>
          </ng-container>
        </div>
      </div>
      <div fxFlex="30">
        <h1 class="header__title">{{ "PermissionsList" | translate }}</h1>
        <mat-card class="hero-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="hero-header__image"
              [ngStyle]="{
                'background-image': 'url(assets/images/letters/letter-p.png)'
              }"
            ></div>

            <div>
              <form
                [formGroup]="newPermissionForm"
                #form="ngForm"
                ngxScrollToFirstInvalid
                (ngSubmit)="createNewPermission(newPermissionForm.value)"
                autocomplete="on"
              >
                <mat-form-field class="input-container">
                  <input
                    matInput
                    name="hname"
                    type="text"
                    placeholder="{{ 'nameWithPalindrome' | translate }}"
                    formControlName="name"
                  />
                  <mat-error
                    *ngIf="
                      !newPermissionForm.controls.name.valid && form.submitted
                    "
                  >
                    {{ "nameRequired" | translate }}
                  </mat-error>
                </mat-form-field>
                <button
                  mat-raised-button
                  type="submit"
                  [disabled]="form.submitted && !newPermissionForm.valid"
                >
                  {{ "create" | translate }}
                </button>
                <div *ngIf="error">{{ error | translate }}</div>
              </form>
            </div>
          </mat-card-header>
        </mat-card>

        <div *ngIf="permissions">
          <ng-container *ngFor="let permission of permissions">
            <app-role-permission-card
              [item]="permission"
              [typeOfItem]="'permission'"
              (addFunction)="AddToUser(permission)"
            ></app-role-permission-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
