<mat-card class="hero-card" *ngIf="item">
  <mat-card-header>
    <div
      *ngIf="typeOfItem == 'permission'"
      mat-card-avatar
      class="hero-header__image"
      [ngStyle]="{
        'background-image': 'url(assets/images/letters/letter-p.png)'
      }"
    ></div>
    <div
      *ngIf="typeOfItem == 'role'"
      mat-card-avatar
      class="hero-header__image"
      [ngStyle]="{
        'background-image': 'url(assets/images/letters/letter-r.png)'
      }"
    ></div>

    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>ID: {{ item.id }}</mat-card-subtitle>
    <div class="hero-actions">
      <mat-icon
        matTooltip="{{ 'addToUser' | translate }}"
        class="icon__like--green"
        (click)="addToUser()"
        >add
      </mat-icon>
      <mat-icon class="icon__like--green" (click)="switchEditMode()"
        >edit
      </mat-icon>
      <mat-icon class="icon__like--green" (click)="deleteItem()"
        >delete
      </mat-icon>
    </div>

    <!-- <mat-card-subtitle>Type: {{ typeOfItem | json}}</mat-card-subtitle> -->

    <!-- <div class="hero-actions">{{ typeOfItem }}</div> -->
  </mat-card-header>
  <div *ngIf="isEditMode" class="roles__list">
    <div class="roles__box">
      <form
        [formGroup]="editItemForm"
        #editForm="ngForm"
        ngxScrollToFirstInvalid
        (ngSubmit)="changeItem(editItemForm.value)"
        autocomplete="on"
      >
        <mat-form-field class="input-container">
          <input
            matInput
            name="hname"
            type="text"
            placeholder="{{ 'newItemName' | translate }}"
            formControlName="name"
          />
          <mat-error
            *ngIf="!editItemForm.controls.name.valid && editForm.submitted"
          >
            {{ "fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          [disabled]="editForm.submitted && !editItemForm.valid"
        >
          {{ "renameItem" | translate }}
        </button>
        <div *ngIf="error">{{ error | translate }}</div>
      </form>
    </div>
  </div>
</mat-card>
